# Economic Inequality in Latin America

### Trends in the Gini Index and its link to Average Income: Why are some Latin American Countries more unequal than others?

In [2]:
import pandas as pd

### EDA

In [3]:
# Exploring .csv files from https://data.worldbank.org/indicator/SI.POV.GINI?type=points&year=2019 

df_1 = pd.read_csv("API_SI.POV.GINI_DS2_en_csv_v2_19376.csv",
                   delimiter=',',
                    skiprows=4,
                     engine='python')

df_1

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,26.7,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.5,NaN,NaN,NaN
265,Zimbabwe,ZWE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,44.3,NaN,50.3,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2 = pd.read_csv("Metadata_Country_API_SI.POV.GINI_DS2_en_csv_v2_19376.csv")
df_2

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN
...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
263,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

In [5]:
df_3 = pd.read_csv("Metadata_Indicator_API_SI.POV.GINI_DS2_en_csv_v2_19376.csv")
df_3

,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
0,SI.POV.GINI,Gini index,Gini index measures the extent to which the di...,"World Bank, Poverty and Inequality Platform. D...",NaN

In [6]:
# Extract column 'Latin America & Caribbean' from the dataframe 'df_2'
df_2[df_2['Region'] == 'Latin America & Caribbean']

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
9,ARG,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina,NaN
12,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda,NaN
23,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The",NaN
26,BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize,NaN
28,BOL,Latin America & Caribbean,Lower middle income,NaN,Bolivia,NaN
29,BRA,Latin America & Caribbean,Upper middle income,NaN,Brazil,NaN
30,BRB,Latin America & Caribbean,High income,NaN,Barbados,NaN
39,CHL,Latin America & Caribbean,High income,NaN,Chile,NaN
45,COL,Latin America & Caribbean,Upper middle income,NaN,Colombia,NaN
48,CRI,Latin America & Caribbean,Upper middle income,NaN,Costa Rica,NaN
50,CUB,Latin America & Caribbean,Upper middle income,NaN,Cuba,NaN
51,CUW,Latin America & Caribbean,High income,NaN,Curaçao,NaN
52,CYM,Latin America & Caribbean,High income,NaN,Cayman Islands,NaN
57,DMA,Latin America & Caribbean,Upper middle income,NaN,Dominica,NaN
59,DOM,Latin America & Caribbean,Upper middle income,NaN,Dominican Republic,NaN
66,ECU,Latin America & Caribbean,Upper middle income,NaN,Ecuador,NaN
90,GRD,Latin America & Caribbean,Upper middle income,NaN,Grenada,NaN
92,GTM,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Guatemala,NaN
94,GUY,Latin America & Caribbean,High income,NaN,Guyana,NaN
97,HND,Latin America & Caribbean,Lower middle income,The World Bank systematically assesses the app...,Honduras,NaN
100,HTI,Latin America & Caribbean,Lower middle income,The reporting period for national accounts dat...,Haiti,NaN
116,JAM,Latin America & Caribbean,Upper middle income,NaN,Jamaica,NaN
124,KNA,Latin America & Caribbean,High income,NaN,St. Kitts and Nevis,NaN
132,LCA,Latin America & Caribbean,Upper middle income,NaN,St. Lucia,NaN
146,MAF,Latin America & Caribbean,High income,NaN,St. Martin (French part),NaN
153,MEX,Latin America & Caribbean,Upper middle income,NaN,Mexico,NaN
174,NIC,Latin America & Caribbean,Lower middle income,The World Bank systematically assesses the app...,Nicaragua,NaN
184,PAN,Latin America & Caribbean,High income,NaN,Panama,NaN
185,PER,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Peru,NaN
191,PRI,Latin America & Caribbean,High income,Fiscal year end: June 30; reporting period for...,Puerto Rico,NaN
194,PRY,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Paraguay,NaN
210,SLV,Latin America & Caribbean,Upper middle income,NaN,El Salvador,NaN
219,SUR,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Suriname,NaN
224,SXM,Latin America & Caribbean,High income,NaN,Sint Maarten (Dutch part),NaN
227,TCA,Latin America & Caribbean,High income,NaN,Turks and Caicos Islands,NaN
241,TTO,Latin America & Caribbean,High income,NaN,Trinidad and Tobago,NaN
249,URY,Latin America & Caribbean,High income,NaN,Uruguay,NaN
252,VCT,Latin America & Caribbean,Upper middle income,NaN,St. Vincent and the Grenadines,NaN
253,VEN,Latin America & Caribbean,NaN,NaN,"Venezuela, RB",NaN
254,VGB,Latin America & Caribbean,High income,NaN,British Virgin Islands,NaN
255,VIR,Latin America & Caribbean,High income,NaN,Virgin Islands (U.S.),NaN

In [7]:
latinamerican_countries = df_2[df_2['Region'] == 'Latin America & Caribbean']

In [8]:
latinamerican_countries_by_income = latinamerican_countries.groupby('IncomeGroup')

In [9]:
latinamerican_countries_by_income.size()

IncomeGroup
High income            18
Lower middle income     4
Upper middle income    19
dtype: int64

In [19]:
latinamerican_countries_by_income['TableName'].apply(list)

IncomeGroup
High income            [Aruba, Antigua and Barbuda, Bahamas, The, Bar...
Lower middle income                [Bolivia, Honduras, Haiti, Nicaragua]
Upper middle income    [Argentina, Belize, Brazil, Colombia, Costa Ri...
Name: TableName, dtype: object

In [ ]:
latinamerican_countries_by_income_to_dict = latinamerican_countries_by_income['TableName'].apply(list).to_dict()
latinamerican_countries_by_income_to_dict

{'High income': ['Aruba',
  'Antigua and Barbuda',
  'Bahamas, The',
  'Barbados',
  'Chile',
  'Curaçao',
  'Cayman Islands',
  'Guyana',
  'St. Kitts and Nevis',
  'St. Martin (French part)',
  'Panama',
  'Puerto Rico',
  'Sint Maarten (Dutch part)',
  'Turks and Caicos Islands',
  'Trinidad and Tobago',
  'Uruguay',
  'British Virgin Islands',
  'Virgin Islands (U.S.)'],
 'Lower middle income': ['Bolivia', 'Honduras', 'Haiti', 'Nicaragua'],
 'Upper middle income': ['Argentina',
  'Belize',
  'Brazil',
  'Colombia',
  'Costa Rica',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'Grenada',
  'Guatemala',
  'Jamaica',
  'St. Lucia',
  'Mexico',
  'Peru',
  'Paraguay',
  'El Salvador',
  'Suriname',
  'St. Vincent and the Grenadines']}