# Economic Inequality in Latin America

### Trends in the Gini Index and its link to Average Income: Why are some Latin American Countries more unequal than others?

In [1]:
import pandas as pd

In [2]:
# Exploring .csv files from https://data.worldbank.org/indicator/SI.POV.GINI?type=points&year=2019 

df_1 = pd.read_csv("API_SI.POV.GINI_DS2_en_csv_v2_19376.csv")
df_1

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 70

In [3]:
df_2 = pd.read_csv("Metadata_Country_API_SI.POV.GINI_DS2_en_csv_v2_19376.csv")
df_2

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN
...,...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,NaN
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep.",NaN
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,NaN
263,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,NaN
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe,NaN

In [4]:
df_3 = pd.read_csv("Metadata_Indicator_API_SI.POV.GINI_DS2_en_csv_v2_19376.csv")
df_3

,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
0,SI.POV.GINI,Gini index,Gini index measures the extent to which the di...,"World Bank, Poverty and Inequality Platform. D...",NaN